/* Code for whole page */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Code for whole page ended */


/* Code for body */
body{
    background: #EAE3D2;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
/* Code for body ended */

/* a tag styling */
a {
    text-decoration: none;
}
/* a tag styling  ended*/


/* top-bar styling started */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #256D85;
}

.top-bar span {
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
}

.top-bar a:hover{
    color: #222;
}
/* top-bar styling ended */



/* Navbar Styling Started */
nav{
    background: #FFF7E9;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 40px;
    margin-right: 10px;
}


.logo{
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

.toggle a{
    color: #222;
}

.menu li a{
    font-weight: 800;
    color: #222;
}

ul li a:hover{
 color: #256D85;
}

/* Navbar Styling Started */



/* Code to position and display toggle and menu(when less than 600 width) */
 .menu.active{
    display: block;
}

.toggle{
    position: absolute;
    top: 15px;
    right: 20px;
} 
/* Code to position and display toggle and menu(when less than 600 width) ended */
.text{
    height: 532px;
}
 h1{
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
    color: #222;
}

.subtitle{
    position: relative;
    top: 190px;
    color: #222;
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    position: relative;
    top: 210px;
    display: block;
    width: auto;
    margin: auto;
    border: none;
    background: #256D85;
    padding: 12px 30px;
    border-radius: 30px;
    color: #FFF7E9;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

footer{
    position: sticky;
    top: 100%;
    background-color: #256D85;
    height: auto;
    width: 100vw;
    color: #fff; 
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p{
max-width: 500px;
margin: 10px auto;
line-height: 15px;
font-size: 17px;
}


.footer-bottom{
    background: #FFF7E9;
    width: 100vw;
    /* padding: 20px 0; */
    text-align: center;
}

.footer-bottom p{
    color: #222;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4s;
    font-weight: 200;
}


/* Media Quires Code Started */
@media screen and (max-width: 600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
.menu{
    margin-top: 15px;
    display: none;
}
.toggle{
    display: block;
}
h1{
    position: relative;
    top: 150px;
}
.subtitle{
    position: relative;
    top: 160px;
}
button {
    position: relative;
    top: 180px;
}

}
@media screen and (max-width: 407px){
    h1 {
        font-size: 25px;
    }
    .subtitle{
        font-size: 10px;
    }
}

/* Media Quires Code Ended */




